<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity
            android:name="com.example.camerautil.ImagePickerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ImagePickerCropTheme"
            tools:ignore="LockedOrientationActivity"
            tools:replace="android:theme" />

    </application>

</manifest>